#Top {
    display: flex;
    width: 100%;
    height: 664px;
    background-color: #ade8f4;
    justify-content: center;
    align-items: center;
    color: #00b4d8;
    border: 0px solid #ade8f4;
    font-size: 30px;
    text-align: center;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    font-variation-settings: "MONO" 1;
}

.pro {
    text-decoration: underline;
}

.Mid-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    height: 664px;
    font-family: sans-serif;
    font-weight: 600;
}

.img {
    overflow: hidden;
    display: block;
    border-radius: 50%;
}

#Logo {
    width: 100%;
    height: 180px;
}

.bottom-container {
    width: 100%;
    font-family: sans-serif;
}

.Text {
    text-align: center;
    font-family: sans-serif;
}

.blue-box {
    width: 48px;
    height: 48px;
    background-color: #2563eb;
    border-radius: 8px;
}

.doc {
    height: 50%;
    width: 50%;
}

.gradient-background {
    background: linear-gradient(
      120deg,
      #39618b,
      #f0eeff,
      #466a9b,
      #31567c
    );
    background-size: 300% 300%;
    animation: gradientMove 10s ease-in-out infinite;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

.Projects {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Projects > div.Projects-container {
    width: 50%;
}

.Skills {
    text-align: center;
}


.Project-title {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.HTML-protfolio-project {
    display: flex;
    justify-content: center;
    height: 332px;
}

.title-HTML {
    padding: 30px;
}



.protfolio-project {
    display: flex;
    justify-content: flex-start;
    height: 332px;
}
.CSS-project {
    display: flex;  
    justify-content: flex-start;  
    height: 332px;
}

.More {
    text-align: center;
}
